// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
.btn-primary, .sidebar{background-color: color("kpmgblue")};
.btn-primary:hover, .btn-outline-primary:hover, .sidebar .nav-item .nav-link:hover{background-color: color("kpmghoverblue") !important;};
.nav-link.active{background-color: color("kpmghoverblue") !important;};
.nav-tabs .nav-link.active{background-color: white !important;};

.btn-outline-primary {
  color: color("kpmgblue");
  border-color: color("kpmgblue");
}

.btn-outline-primary:disabled{
  color: grey;
  border-color: grey;
  background-color: unset !important;
}

h1{
  color: color("kpmgblue");
}

.footer-logo{
  object-fit: contain;
}

.form-error {
  font-size: 12px;
  color: #a94442;
  font-style: italic;
}

.custom-control-label{
  cursor: pointer;
}

.modal-header{
  background-color: color('kpmgblue');
  color: white;

  .close{
    color: white;
  }
}

.table-fa{
  .fa{
    font-size: 22px;
    padding-right: 5px;
    cursor: pointer;
  }
}
// ie fixes
@import "ie-fix";
